*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --tile-size: 30px;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}

.board {
  display: flex;
  flex-direction: column;
  border: 2px solid hsl(210, 10%, 70%);
}

.row {
  display: flex;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  border: solid 1px hsl(210, 10%, 70%);
  background-color: hsl(210, 10%, 60%);
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  user-select: none;
}

.game-over {
  text-align: center;
  position: absolute;
  background-color: white;
  top: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  font-size: xx-large;
  border: 2px solid;
}

button {
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

.board-type {
  display: flex;
  gap: 1rem;
}
