*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --board-size: 5;
  --tile-size: 50px;
  --board-width: calc(var(--board-size) * var(--tile-size));
  --board-height: var(--board-width);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-top: 5rem;
}

.board {
  width: var(--board-width);
  height: var(--board-height);
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  border: solid 1px;
  background-color: hsl(210, 10%, 90%);
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
